[submodule "playground/lib/forge-std"]
	path = playground/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "playground/lib/halmos-cheatcodes"]
	path = playground/lib/halmos-cheatcodes
	url = https://github.com/a16z/halmos-cheatcodes
[submodule "playground/lib/properties"]
	path = playground/lib/properties
	url = https://github.com/crytic/properties
[submodule "playground/src/echidna/lib/forge-std"]
	path = playground/src/echidna/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "playground/src/echidna/lib/openzeppelin-contracts"]
	path = playground/src/echidna/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
